#menuBG {
    width: 600px;
    height: 670px;
    margin: 10px auto;
    background-color: lightblue;
}
body {
    background-color: darkgrey;
}
h1 {
    font-family: cursive;
    color: blue;
    text-align: center;
}
h3 {
    font-family: fantasy;
    color: crimson;
}
#frmMenu {
    width: 400px;
    height: 200px;
}
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}
.left {
    width: 200px;
    height: 200px;
    float: left;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.center {
    width: 200px;
    height: 200px;
    float: left;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.right {
    width: 200px;
    height: 200px;
    float: right;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}
#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}
#btnOrder {
    margin: 10px 0px opx 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}
